<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Little Nightmares Fan Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=3">
</head>
<body>

    <header>
        <nav>
            <a href="/" class="logo">LITTLE NIGHTMARES</a>

            <div style="margin-left: auto;">
                <a href="/" style="color: #fff; margin-right: 20px;">ГОЛОВНА</a>
                <a href="/add" style="color: #f1c40f;">+ ДОДАТИ</a>
            </div>
        </nav>
    </header>

    <div class="wiki-wrapper">
        {% block content %}{% endblock %}
    </div>

</body>
</html>