{% extends 'base.html' %}

{% block content %}

    <div class="main-content">
        <h1>Little Nightmares</h1>

        <p><b>Little Nightmares</b> (укр. <i>Маленькі кошмари</i>) — це похмура казка, яка змусить вас згадати свої дитячі страхи.</p>

        <p>Допоможіть Шостій вибратися з Чрева — дивного підводного судна, населеного моторошними істотами, які тільки й шукають, чим би поживитися...</p>

        <h2>Розділи Вікі</h2>

        <div class="wiki-buttons-grid">
            {% for section in sections %}
                <a href="{{ url_for('section_page', section_slug=section['slug']) }}" class="wiki-btn">
                    {{ section['name'] }}
                </a>
            {% else %}
                <p>Розділів немає.</p>
            {% endfor %}
        </div>
    </div>

    <aside class="sidebar">
        <div class="infobox">
            <div class="infobox-title">Little Nightmares</div>

            <img src="{{ url_for('static', filename='game_cover.jpg') }}"
                 alt="Обкладинка гри"
                 style="width: 100%; border-radius: 5px; margin-bottom: 15px; border: 1px solid #555; display: block;">

            <div class="infobox-data">
                <p><b>Розробник:</b><br> Tarsier Studios</p>
                <p><b>Видавець:</b><br> Bandai Namco</p>
                <p><b>Дата випуску:</b><br> 28 квітня 2017</p>
                <p><b>Жанр:</b><br> Horror, Platformer</p>
            </div>
        </div>
    </aside>

{% endblock %}